body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.hero-header {
    color: #f9faf8;
    font-size: 24px;
}

.header-img {
    width: 100px;
    height: 60px;
}

.header-links {
    display: flex;
    color: #e5e7eb;
    margin: 0;
    list-style-type: none;
    gap: 25px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: #e5e7eb;
}

.container1 {
    display: flex;
    background-color: #1f2937;
    padding-bottom: 20px;
    padding: 150px 0;
    gap: 50px;
}

.container1-left,
.container1-right {
    /* display: flex; */
    flex-direction: column;
    flex: 1;
}

.container1-right {
    display: flex;
}

h2 {
    margin: 0;
}

.hero-info {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}

.container1 .button {
    padding: 8px 36px;
    border: 1px;
    border-radius: 10px;
    color: #e5e7eb;
    background-color: #3882f6;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.hero-img {
    height: 250px;
    /* width: 400px; */
}

.header,
.container1 {
    padding-left: 200px;
    padding-right: 200px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 250px 150px 250px;
    gap: 46px;
}

.second-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img {
    width: 160px;
    height: 160px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.info-box-p {
    flex-wrap: wrap;
    width: 146px;
    text-align: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-top: 125px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    align-self: end;
    padding-right: 30px;
    font-size: 24px;
    font-weight: bold;
}

.container4 {
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}

.popup {
    display: flex;
    background-color: #3882f6;
    height: 150px;
    justify-content: center;
    align-items: center;
}


.cont4-1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.cont4-2 {
    flex: 1;
    display: flex;
    justify-content: end;
    padding-right: 100px;
}

.popup-heading,
.popup-info {
    padding: 0;
    margin: 0;
    color: #f9faf8;
}

.popup-heading {
    padding-bottom: 6px;
}

.popup-info {
    color: #e5e7eb;
}

.container4 .button {
    padding: 8px 36px;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    background-color: #3882f6;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: #e5e7eb;
    font-size: 18px;
}